<section class="list-shippings">
  <mat-card>
    <mat-card-header>
      <mat-card-title><strong>Datos del envio:</strong>1</mat-card-title>
      <mat-card-subtitle><strong>Remitente:</strong></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Transportista:</strong></p>
      <p><strong>Nombre destinatario:</strong></p>
      <p><strong>Dirreción destino:</strong></p>
      <p><strong>Peso:</strong></p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button mat-raised-button color="warn">SHARE</button>
    </mat-card-actions>
  </mat-card>

  <!-- <table mat-table [dataSource]="shippings">
    <ng-container matColumnDef="id">
       <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="destinationName">
      <th mat-header-cell *matHeaderCellDef> Nombre destinatario </th>
      <td mat-cell *matCellDef="let element"> {{element.destinationName}} </td>
    </ng-container>

    <ng-container matColumnDef="postalCode">
      <th mat-header-cell *matHeaderCellDef> Código Postal </th>
      <td mat-cell *matCellDef="let element"> {{element.postalCode}} </td>
    </ng-container>

    <ng-container matColumnDef="destinationAddress">
      <th mat-header-cell *matHeaderCellDef> Dirección destino </th>
      <td mat-cell *matCellDef="let element"> {{element.destinationAddress}} </td>
    </ng-container>

    <ng-container matColumnDef="senderName">
      <th mat-header-cell *matHeaderCellDef> Nombre remitente </th>
      <td mat-cell *matCellDef="let element"> {{element.senderName}} </td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Peso </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="deleteEmployee(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->
</section>