<section class="list-shippings">
  <mat-card *ngFor="let shipping of shippings">
    <mat-card-header>
      <mat-card-title><strong>Datos del envio: </strong>{{ shipping.id }}</mat-card-title>
      <mat-card-subtitle><strong>Remitente: </strong>{{ shipping.senderName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Transportista: </strong>{{ shipping.senderName}}</p>
      <p><strong>Nombre destinatario: </strong>{{ shipping.destinationName }}</p>
      <p><strong>Dirreción destino: </strong>{{ shipping.destinationAddress }}</p>
      <p><strong>Peso: </strong>{{ shipping.weight }}</p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button mat-raised-button color="warn" (click)="deleteEmployee(shipping.id)">DELETE</button>
    </mat-card-actions>
  </mat-card>
</section>