.mat-column-position {
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-name {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-action {
  text-align: right;
  font-size: 20px;
}