<div class="body">
  <h2>REGISTRARSE</h2>
    <form class="login" [formGroup]="form" (ngSubmit)="sendForm()">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username">
        <!-- <div *ngIf="form.get('username').?invalid && form.get('username').touched">
          <mat-error *ngIf="form.get('username').errors.['required']">El nombre de usuario es obligatorio</mat-error>
        </div> -->
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" matInput formControlName="password">
        <!-- <div *ngIf="form.get('password').invalid && form.get('password').touched">
          <mat-error *ngIf="form.get('password').errors.['required']">La contraseña es obligatoria</mat-error>
        </div> -->
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        Save
      </button>
    </form>
</div>