@use '@angular/material' as mat;

@include mat.core();

// // Define a dark theme
// $dark-theme: mat.define-dark-theme((
//   color: (
//     primary: mat.define-palette(mat.$purple-palette),
//     accent: mat.define-palette(mat.$green-palette),
//   ),
//   // Only include `typography` and `density` in the default dark theme.
//   typography: mat.define-typography-config(),
//   density: 0,
// ));

// // Define a light theme
// $light-theme: mat.define-light-theme((
//   color: (
//     primary: mat.define-palette(mat.$indigo-palette),
//     accent: mat.define-palette(mat.$pink-palette),
//   ),
// ));

// // Apply the dark theme by default
// @include mat.core-theme($dark-theme);
// @include mat.button-theme($dark-theme);

// // Apply the light theme only when the user prefers light themes.
// @media (prefers-color-scheme: light) {
//   // Use the `-color` mixins to only apply color styles without reapplying the same
//   // typography and density styles.
//   @include mat.core-color($light-theme);
//   @include mat.button-color($light-theme);
// }

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.backdropBackground {
  background-color: #352f2ff2;
  backdrop-filter: blur(4px);
}

.success-snackbar {
  background: #025704;
  color: white;
}

.success-snackbar button {
  border: none;
}

.danger-snackbar {
  background: #de1717;
  color: white;
}

.danger-snackbar button {
  border: none;
}

.warning-snackbar {
  background: #616e09;
  color: white;
}

.warning-snackbar button {
  border: none;
}
